.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.meme{
  position: relative;
  display: inline-block;
  text-align: center;
}

.meme span{
  position: absolute;
  width: 100%;
  left: 0px;
  /* margin-top: 20px; */
  font-size: 38px;
  color: white;
  text-shadow: 2px 2px black;
}


.meme span:nth-child(1) {
  top: 10px;
}
.meme span:nth-child(2) {
  bottom: 10px;
}

.meme img {
  width: 100%;
}

body {
  background-color: black;
}

.meme span{
  position: absolute;
}
